.toast {
    text-align: center;
    min-height: 70px;
    width: 220px;
    color: #e6e6e6;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 43%;
    top: 40%;
}

.toast-icon {
    padding-top: 10px;
    padding-bottom: 10px;
}

.toast-tip {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
